.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.key{
  text-align: center;
}
.key1{
  list-style-type:HEAVY TRIANGLE-HEADED RIGHT ARROW;
}
.dss{
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}
.dsx{
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}
.sdd{
  padding-left: 40px;
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #27ad0f 49%,
    #ff1361 67%,
    #973e12 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 40px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.mxx{
  color:rgb(47, 38, 171);
  font-weight: 700;
  font-size: 14px
}
.gradd {
  text-align: center;
  /* height: 40px;
  background-image: linear-gradient(to-right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1)); */
} 
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: rgb(203, 217, 217);
}
.arrow-highlight{
  position:relative;
  margin:0 0.5em;
  padding:0 0.2em;
}
.arrow-highlight:before{
  content:"";
  z-index:-1;
  left:-0.5em;
  top:0.1em;
  border-width:0.5em;
  border-style:solid;
  border-color:orange;
  position:absolute;
  width:calc(620px - 0.5em);
  border-left-color:transparent;
}
.arrow-highlight:after{
  content:"";
  z-index:-1;
  right:0;
  top:0.1em;
  border-width:0.5em;
  border-style:solid;
  border-color:orange;
  position:absolute;
  border-top-color:transparent;
  border-bottom-color:transparent;
  border-left-color:transparent;
  transform:rotate(180deg);
  transform-origin:center right;
}
.ribbon-highlight{
  position:relative;
  margin:0.1em;
  color: white;
  padding: 0 14px;
  margin: 0 15px
}
.ribbon-highlight:before{
  content:"";
  z-index:-1;
  left:-0.5em;
  top:0.1em;
  border-width:0.7em;
  border-style: solid;
  border-color: rgb(57, 10, 150);
  position:absolute;
  width:695px;
  border-left-color:transparent;
  border-right-color:transparent;
}

.boxx{
  /* background-color: rgb(39, 67, 151); */
  width: 780px;
  border: 10px solid rgb(236, 243, 236);
  padding: 20px;
  margin: 20px;
  opacity: 1.9;
}
.com1{
  color: rgb(140, 14, 190);
}
.backk{
  color: rgb(76, 228, 231);
}

.backk1{
  color: rgb(111, 55, 190);
}
.backkk{
  color: rgb(218, 78, 78);
}

.custom-text-style {
  color: rgb(30, 129, 171);
  justify-content: center;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.w3rcontainer{
  border: 1px solid 
#cccfdb;
  border-radius: 2px;
} 
.hover-underline-animation {
 display: inline-block;
 position: relative;
 color: 
#0087ca;
}


.underlined-text:hover {
  text-decoration: underline;
}


.xs{
  font-family: Georgia,serif; 
  font-size:22px; 
  color:crimson; 
  font-weight:550;
}
/* 
.xp{
  text-align: center;
} */


.xp{
  font-family: Georgia,serif; 
  font-size:22px; 
  color:rgb(69, 80, 204); 
  font-weight:550;
  text-align:center; 
}

.ss{
  background-color: #ff00003b;
}